.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input, button, submit { 
  border:none;
  float: none;
  margin: 8px 0px 0px; 
} 

.modal-overlay {
  background: #ececec;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 90%;
  max-width: 500px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 5px;
  font-size: large;
  cursor: pointer;
}

button:hover {
  border: 2px solid darkslateblue;
}

h4,p{
  margin: 5px 0;
}

.danger{
  background-color: red;
  color: aliceblue;
}

.warning{
  background-color: yellow;
  color: dark;
}

.addTask{
  user-select: none;
  padding: 16px;
  margin: 0px 0px 8px;
  min-height: 50px;
  background-color: yellowgreen;
  color: dark;
}

.input, .textarea{
  width: calc(100% - 10px);
}

.textarea{
  min-height: 100px;
  border: 2px solid #54a0ff ;
}

.input{
  min-height: 30px;
  margin: 0px 0px 8px;
  border: 2px solid #54a0ff ;
}